<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Olimpus | Page not found</title>
    <link rel="shortcut icon" href="/static/images/logo2.png" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/404.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.2.0/fonts/remixicon.css" rel="stylesheet">
</head>
<body>
    <div class="error">
        <div class="errors_text_cont">
            <p class="error_number">404</p>
            <p class="error_text">Page Not Found</p>
        </div>
    </div>
</body>
</html>
