<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Olimpus | Olimpiadalarda öz yerinizi tutun</title>
  <link rel="stylesheet" href="/static/css/base.css">
  <link rel="shortcut icon" href="/static/images/logo2.png" type="image/x-icon">
  <link href="https://cdn.jsdelivr.net/npm/remixicon@2.2.0/fonts/remixicon.css" rel="stylesheet">
  <link href="https://css.gg/css?=|comment|eye-alt|eye" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
</head>
<body>
  {% include 'navbar.html' %}
  <div class="base_container">
    <div class="base_news_all">
      <h1 class="head_week_prob">Önə çıxan məsələlər</h1>
      <div class="problems_of_week">
        {% load tags %}
        {% for problem in best %}
        <div class="problem_of_week">
          <a href="{% url 'problem_view' problem.problem_subject problem.id %}">
          <div class="problem_of_week_head">
            <p class="head_problem_week">{{problem.source_problem}}</p>
          </div>
          <div class="main_problem_week">
            <p class="main_problem_week">
              Fənn: {{ subjects|index:problem.problem_subject }} <br>
              Həllin dəyəri: 5 bal <br>
              Baxış sayı: {{problem.problem_views}} <br>
            </p>
          </div>
            <div class="foot_problem_week">
              <p class="foot_go_prob">Məsələyə keç</p>
            </div>
          </a>
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="base_lately_added" data-count-id="{{problems_count}}">
      <table class="all_problems_table">
        <thead>
          <tr>
            <th colspan="4">Ən son əlavə edilmiş 10 məsələ</th>
          </tr>
        </thead>
        <tbody class="table_body">
          {% for problem in problems %}
          {% if problem.show_problem %}
          <tr class="data-item">
              <td width="5%" class="number"><p class="number0">{{problem.id}}</p></td>
              <td height="100%" width="50%" class="problem_text"><a href="{% url 'problem_view' problem.problem_subject problem.id %}" class="go_problem">{{problem.source_problem}} <p style="float: right; margin-right: 30px; color: red;">ID: {{problem.id}}</p></a></td>
              <td width="10%"class="follows_text"><p id="follows">{{problem.problem_views}}</p></td>
              <td width="10%" class="view"><button class="view_problem" data-problem-id="{{problem.id}}"><i class="gg-eye"></i></button></td>
          </tr>
          <div class="view_page{{problem.id}}" id="view_div">
              <div class="problem_summary">
                  <div class="head_pr">
                      <button id="close_view" class="close_viewpage" data-problem-id="{{problem.id}}"><i class="ri-close-fill"></i></button>
                      <h1 class="sourceof_problem">{{problem.source_problem}}</h1>
                  </div>
                  <hr>
                  {% if problem.problem_context %}
                  <p class="problem_context">{{problem.problem_context}}</p>
                  {% endif %}
                  {% if problem.problem_context_img %}
                  <img class="problem_photo" width="70%" src="{{ MEDIA_URL }}{{ problem.problem_context_img.url }}" alt="">
                  {% endif %}
              </div>
          </div>
          {% endif %}
          {% endfor %}
      </tbody>
    </table>
    </div>
  </div>  
  <footer>
    <p>© Olimpus Azerbaijan</p>
  </footer>
  <script src="/static/js/base.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
  <script>
    document.addEventListener("DOMContentLoaded", function(){
      users=document.getElementsByClassName("number_rank");
      for(var i=0; i<users.length; i++){
        users[i].innerHTML=i+1;
      }
    })
  </script>
</body>
</html>