<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Olimpus | Restore Password</title>
  <link rel="stylesheet" href="/static/css/forms.css">
  <link rel="shortcut icon" href="/static/images/logo2.png" type="image/x-icon">
</head>
<body>
  {% include 'navbar.html' %}
  <form method="post" id="restore_place">
    {% csrf_token %}
    <div class="place">
      <img src="/static/images/logo2.png" style="height: 50px;" alt="Logo">
      <p class="Title">Daxil edin</p>
      <div class="input_data">
        <input name="username" type="text" placeholder="İstifadəçi adı"><br>
        <input name="email" type="email" placeholder="E-poçt">
      </div>
      {% if error == 1 %}
      <br><p class="error">Username tapılmadı.</p>
      {% elif error == 2 %}
      <br><p class="error">Email düzgün deyil.</p>
      {% endif %}
      <button class="sumbit" type="submit">Təsdiqlə</button>
    </div>
  </form>
</body>
</html>